<div class="metadata text-left shadow">
  <div class="row">
    <div class="col-sm">
      <a href="{{ .RelPermalink }}">
        <img src="{{ .RelPermalink }}{{ .Params.heroImage }}" class="hero-image d-block " alt="Hero image of: {{ .Title }}" {{ with .Params.heroImageBackgroundColor }} style="background: {{ . }}" {{ end }}>
      </a>
    </div>
    <div class="col-sm-8">
      <a href="{{ .RelPermalink }}" class="title-link">
        <h1>{{ .Title }}</h1>
      </a>
      <p>{{ .Summary }}</p>
      {{ if .Params.storeurl }}
        <a href="{{ .Params.storeurl }}" class="btn btn-info">Buy {{ default "Now" .Params.saletype }}</a>
      {{ end }}
      {{ if .Params.downloadurl }}
        {{ if strings.Contains .Params.downloadurl "https://"}}
          <a href="{{ .Params.downloadurl }}" class="btn btn-info">Download {{ default "Now" .Params.saletype }}</a>
        {{else}}
          <a href="{{ .RelPermalink }}{{ .Params.downloadurl }}" class="btn btn-info">Download {{ default "Now" .Params.saletype }}</a>
        {{ end }}
      {{ end }}
      {{ if .PublishDate }}
        <div style="padding: 0.25em 0">
          {{ $dateTime := .PublishDate.Format "2006-01-02" }}
          {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
          <i data-feather="calendar"></i>
          <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
        </div>
      {{ end }}
      {{ with .Params.tags }}
        <div style="padding: 0.25em 0">
          <i data-feather="tag"></i>
          {{ range . }}
            <a class="btn btn-sm btn-outline-dark tag-btn" href="/tags/{{ urlize . }}">{{ . }}</a>
          {{ end }}
        </div>
      {{ end }}
      {{ with .Params.sets }}
        <div class="nav-link-img position-relative" style="padding: 0.25em 0">
          <img src="/icon/yarn-ball-set.svg" style="width: 2em"></img>
          {{ range . }}
            <a class="btn btn-sm btn-outline-dark tag-btn" href="/sets/{{ urlize . }}">{{ . }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>

<style>
  .metadata {
    margin: 1em auto auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.365rem 0.375rem 0.375rem 0.375rem;
  }
  .col-sm {
    height: 50vh;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    border-radius: 0.365rem 0.365rem 0.365rem 0.365rem;
  }

  .title-link {
    color: black;
  }
</style>
